## <span style ='background:orange'> Lists, Sets, Tuples, Dicts Practice Exercises </span>


---
***

#### Question - Appending and Removing Elements: Create an empty list called my_list. Append the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [4]:
my_list = [1,2,3]
my_list.remove(2)

my_list

[1, 3]

#### Question- Accessing Elements: Create a list called fruits containing the strings "apple", "banana", "cherry", "date". Print the second element of the list.

In [6]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[1]

'banana'

#### Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a slice of the list containing elements from the third element to the sixth element.

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers = numbers[2:8]
numbers

[3, 4, 5, 6, 7, 8]

### SETS

#### Question - Adding and Removing Elements: Create an empty set called my_set. Add the numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [10]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set

{1, 2, 3}

#### Question - Operations: Create two sets called set1 and set2, each containing a few numbers. Print the union, intersection, and difference of the two sets.

In [12]:
set1 = {1,2,3,4,5}
set2 = {1,2,4,6,7}

print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set2 - set1)

{1, 2, 4}
{1, 2, 3, 4, 5, 6, 7}
{3, 5}
{6, 7}

#### Question - Accessing Elements: Create a tuple called coordinates containing the latitude and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude and longitude separately.

In [14]:
coordinates = [("lat", 37.8136), ("long", 144.9631)] # lat & long for Melbourne, Victoria.

# convert tuple to dict

coordinates = dict(coordinates)
coordinates

{'lat': 37.8136, 'long': 144.9631}

In [15]:
# Print latitude and longitude separately. 
print(coordinates["lat"])
print(coordinates["long"])

37.8136
144.9631

#### Question - Packing and Unpacking: Create a tuple called person containing information about a person, such as their name, age, and city. Then unpack the tuple into individual variables.

In [17]:
person = [('name', 'Peter'), ('age', 27), ('city', 'Paris')]

In [18]:
#unpacking

(name, age, city) = person

print(name)
print(age)
print(city)

('name', 'Peter')
('age', 27)
('city', 'Paris')