### Python Datatypes Assignment
* Boolean (True / False) Types
* String
* Integer
* Float
* Complex
* Uint (Unsigned Integer Types)
* Date Time

In [4]:
a = 'Data Science'
b = True
print(type(a))
print(type(b))

<class 'str'>
<class 'bool'>

#### Type Casting: Converting one datatype to another type

In [13]:
# bool + str + int + float

True + 6 + 7.5

# True represents 1, False, 0

14.5

In [15]:
int(7.5) + 3  # the float type has been converted to int and rounded down

10

In [19]:
bool(0)

False

In [21]:
True + 3 + int(4.5)

8

#### We can convert from any type to int except complex type.

In [24]:
int(10.873)

10

In [ ]:
int(10+5j)
# TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
int('Ten')
# ValueError: invalid literal for int() with base 10: 'Ten'

In [37]:
#Boolean variations

print(bool(False))
print(bool(True))
print(bool(0))
print(bool(1))
print(bool(3.5))
print(bool(0.0))
print(bool(10+10j))
print(bool(""))

False
True
False
True
True
False
True
False

### SLICING

In [42]:
# slicing begins from index 0

a = "I am a Data Scientist"
a

'I am a Data Scientist'

In [46]:
a[2:7]

'am a '

In [50]:
a[-9:]

'Scientist'

In [52]:
a[:7]

'I am a '

### Practice

In [55]:
my_list = [1,2,3,4,5,6,7,8,9,10]

# Get a slice from index 2 to index 6 excluding
slice1 = my_list[2:6] 
slice1

[3, 4, 5, 6]

In [57]:
# Get a slice from index 1 to the end

slice2 = my_list[1:]
slice2

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
# Get a slice from the beginning to index 5 excluding 

slice3 = my_list[:5]
slice3

[1, 2, 3, 4, 5]

In [61]:
# Get a slice of the list with a step size of 2
slice4 = my_list[::2]
slice4

[1, 3, 5, 7, 9]

In [63]:
# Get a slice of the list from the second last element to the end
slice5 = my_list[-2:]
slice5

[9, 10]

In [69]:
# Get a slice of the list from the beginning to the third last element excluding

slice6 = my_list[:-3]
slice6

[1, 2, 3, 4, 5, 6, 7]

In [73]:
# Get a slice of the list in reverse order
slice7 = my_list[::-1]
slice7

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Practicing with strings

In [78]:
my_string = "Hello, World!"

# Get a slice from the string from index 7 to the end

string1 = my_string[7:]
string1

'World!'

In [80]:
# Get a slice of the string from the beginning to index 5 excluding

string2 = my_string[:5]
string2

'Hello'

In [82]:
# Get a slice of the string with a step size of 2
string3 = my_string[::2]
string3

'Hlo ol!'

#### Arithmetic Operators Practice

In [86]:
x = 10 + 5
print (x)

y = 10 -5
print(y)

z = 10 * 5
print(z)

w = 10 / 5
print(w)

mod = 10 % 3
print(mod)

exp = 10 ** 3
print(exp)

floor_div = 10 // 3
print(floor_div)

15
5
50
2.0
1
1000
3

In [96]:
# Assignment Operators

a = 5
a+=3
print(a)

b = 5
b-=3
print(b)

c = 5
c*=3
print(c)

d = 5
d/=3
print(d)


e = 5
e %= 3
print(e)

f = 5
f**=3
print(f)

g = 5
g//=3
print(g)

8
2
15
1.6666666666666667
2
125
1

In [100]:
# Comparison Operators

x = 5
y = 10

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x >= y)

False
True
False
True
False
False

In [104]:
# Logical Operators

a = True
b = False

print( a and b)
print (a or b)
print (not a)

False
True
False

In [108]:
# Bitwise Operators

x = 10
y = 7

print(x & y)
print (x | y)
print (x ^ y)
print (~x)
print (x << 2)
print (x >> y)

2
15
13
-11
40
0